body{
    font-family: 'Lato', sans-serif;
    /* font-size: 16px; */
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey-light;

}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 5rem;

    &--main{
        display: block;
        font-size: 6rem;
        letter-spacing: 2.5rem;
        font-weight: 400;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone){
            font-size: 5rem;
            letter-spacing: 1rem;
        }
    
        /* animation-delay: 3s;
        animation-iteration-count: 3; */
    }
    
    &--sub{
        display: block;
        font-size: 2rem;
        letter-spacing: 1.4rem;
        font-weight: 400;
        animation: moveInRight 1s ease-out;

        @include respond(phone){
            font-size: 1.5rem;
            letter-spacing: 1rem;
        }
    }
}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    transition: all .2s;

    @include respond(tab-port){
        font-size: 3rem;
    }

    @include respond(phone){
        font-size: 2.5rem;
    }

    &:hover{
        transform: skewY(2deg) skewX(15deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.2);
    }
}

.heading-tertiary{
    font-size:$default-font-size;
    text-transform: uppercase;
    font-weight: 700;
}

.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}