.section-about{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(to bottom right
    , rgba($color-primary-light, 0.801)
    ,rgba($color-primary-dark, 0.801))
    ,url(../img/nat-4.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -7rem;

    & > *{    // '>' is direct selector which in this case is row.
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $color-grey-light-1;
    padding: 25rem 0 15rem 0;
    margin-top: -10vh;
}

.section-story{
    position: relative;
    padding: 15rem 0;
    background-color: $color-grey-light-1;
    z-index: 1;
}